/*表格顶行*/
#write table tr th{
    border: 1px solid var(--thead-bg);
}

/*表格大小设置输入框(数字居中)*/
#write .md-grid-board-wrap input{
    text-align: center !important;
}

/*表格大小设置面板(防边界超出)*/
#write .popover.bottom.md-table-resize-popover{
    width: auto;
    max-width: none;
}

/*表格大小设置面板中的方框*/
#write .md-grid-board.md-reset>tbody>tr>td>a{
    border-bottom: 1px solid var(--table-border-color) !important;
}

/*搜索*/
#file-library-search-input{
    padding-left: 0.4em;
}
