@import "less-dark.css";
@import "./snippet/fluent.css";

:root {
    --side-bar-bg-color: transparent !important;
    --bg-code-block: #08080880 !important;
    --bg-quote: #08080880 !important;
    --bg-thead: #08080880 !important;
    --bg-tbody: #08080880 !important;
    --fluent-bg: url(../assets/online-community.svg);
    --fluent-bg-size: 35%;
}

#write:after,
ul.dropdown-menu:after,
#typora-sidebar:before {
    background-color: #00000080;
}