/* 引用样式 1 */

blockquote {
    background: var(--quota-bg);
    background: #fadfde;
    border-left: 4px solid #f06365;
    margin: 1.75rem auto;
    padding: 1rem;

}

blockquote blockquote {
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    padding-left: 1rem;
}

blockquote p {
    font-family: var(--quota-font);
    color: #434a54;
}

/* 引用样式 2 */
blockquote {
    background: none;
    color: #333;
    margin: 1.75rem 2rem;
}

blockquote blockquote {
    margin-right: 0;
}

blockquote p {
    font-family: fangsong, serif;
    /* 如果使用的是繁体可以使用下面的字体 */
    /* font-family: ‘cwTeX Q Fangsong’; */
    color: #333;
}

/* 代码块样式 */