@import url(./assets-less/typo.css);
@import url(./less-light.css);
@import url(./assets-less/DarkCode.css);

:root {
  --theme-color: #4da0ff;
  --theme-color-weak: hsl(212, 100%, 85%);
  --color-text: hsl(0, 0%, 75%);
  --text-color: var(--color-text);
  --color-em: hsl(0, 0%, 90%);
  --color-strong: hsl(0, 0%, 90%);
  --color-weak: hsl(0, 0%, 75%);
  --color-weakest: hsl(0, 0%, 30%);
  --md-char-color: var(--theme-color);
  --meta-content-color: var(--theme-color);

  --mark-color: hsl(0, 0%, 30%);
  --code-color: hsl(0, 0%, 75%);
  --codeb-color: hsl(0, 0%, 50%);

  --thead-hover: hsl(0, 0%, 5%);
  --tbody-hover: hsl(0, 0%, 5%);

  --color-title: var(--color-em);
  --color-title-h1: var(--color-em);
  --color-title-h2: var(--color-em);
  --color-title-h3: var(--color-em);
  --color-title-h4: var(--color-em);
  --color-title-h5: var(--color-em);
  --color-title-h6: var(--color-em);

  --color-quote: var(--color-weak);
  --color-code: var(--color-weak);
  --color-link: var(--theme-color);
  --color-italic: var(--color-em);
  --color-strong: var(--color-strong);
  --color-highlight: var(--color-weakest);
  --color-strike: var(--color-weakest);
  --color-footnote: var(--color-weakest);

  --thead-color: var(--color-em);
  --tbody-color-opt: var(--color-em);
  --tbody-color: var(--color-em);
  --color-thead-hover: var(--theme-color);
  --color-tbody-hover: var(--theme-color);

  --link-hover-color: hsl(212, 100%, 85%);
  --link-hover-bg: none;

  /* background setting */
  --bg-contents: hsl(0, 0%, 15%);
  --bg-write: hsl(0, 0%, 15%);
  --bg-color: var(--bg-contents);
  --bg-title: none;
  --bg-title-h1: none;
  --bg-title-h2: none;
  --bg-title-h3: none;
  --bg-title-h4: none;
  --bg-title-h5: none;
  --bg-title-h6: none;

  --bg-quote: hsl(0, 0%, 12%);
  --bg-code: #263238;
  --bg-code-block: #263238;
  --bg-link: none;
  --bg-italic: none;
  --bg-strong: none;
  --bg-highlight: #ffff4d;
  --bg-strike: none;
  --bg-footnote: none;

  --bg-thead: hsl(0, 0%, 5%);
  --bg-tbody-opt: hsl(0, 0%, 10%);
  --bg-tbody: hsl(0, 0%, 15%);
  --bg-thead-hover: var(--bg-contents);
  --bg-tbody-hover: var(--bg-contents);

  --focus-cont-bg: hsl(0, 0%, 10%);
  --focus-para-bg: hsl(0, 0%, 15%);

  --window-border: 1px solid hsl(0, 0%, 95%);
  --base-border: 1px solid hsl(212, 100%, 85%);
  --base-borderl: 4px solid hsl(212, 100%, 85%);
  --base-borderb: 1px dashed hsl(212, 100%, 85%);
  --opt-borderb: 1px dashed hsl(212, 100%, 65%);

  /* box-shadow */
  --text-shadow: none;
  --block-shadow: none;
  --block-shadow-opt: var(--block-shadow);
  --block-shadow-weak: 0 8px 16px 0 #0000001a;
  --block-shadow-strong: #00000033 0px 25px 56px 0px, #0000001a 0px 5px 15px 0px;
  --focus-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.9);
  --img-shadow: 0px 8px 16px 1px hsla(0, 0%, 0%, 0.3);

  --blur-text-color: hsla(0, 0%, 90%, 0.2);
  --active-file-bg-color: hsl(0, 0%, 5%);
  /* 文件列表 当前文件激活 背景色*/
  --active-file-text-color: hsl(212, 100%, 75%);
  --active-file-border-color: hsl(212, 100%, 75%);
  /* 树形结构下文件激活边框色 */
  --side-bar-bg-color: hsl(0, 0%, 10%);
  /*文件 大纲 侧边栏 背景色*/
  --item-hover-bg-color: hsl(0, 0%, 5%);
  /* 打开文文件夹、正文菜单、最近使用 hover 效果 */
  --item-hover-text-color: hsl(212, 100%, 75%);
  --primary-color: hsl(212, 100%, 75%);
  /* color of primary buttons */
  --primary-btn-border-color: hsl(212, 100%, 75%);
  --primary-btn-text-color: hsl(0, 0%, 15%);
  --select-text-bg-color: rgba(6, 100, 212, 0.5);
  --select-text-font-color: #eee;
  --active-bg: hsl(0, 0%, 10%);
  --window-border: var(--bg-color);
  --control-text-color: var(--title-color);
  --control-text-hover-color: var(--text-color);
}

::-webkit-scrollbar-thumb {
  background: #64646480;
  background-clip: padding-box;
}