@import "./adark.css";
@import "./assets/fluent.css";

:root {
    --side-bar-bg-color: transparent !important;
    --bg-code-block: #08080880 !important;
    --bg-quote: #08080880 !important;
    --bg-thead: #08080880 !important;
    --bg-tbody: #08080880 !important;
    --bg-tbody-opt: #40404080 !important;
}

#write:after,
ul.dropdown-menu:after,
#typora-sidebar:before {
    background-color: #ffffff00;
}