@import './qd-light.css';
@import "./autumnus-import/dark-basic.css";

:root {
  --bg-color: hsl(0, 0%, 25%);
  --write-bg: hsl(0, 0%, 25%);
  --link-bg: none;
  --mark-bg: hsl(195, 100%, 50%);
  --code-bg: #263238;
  --quota-bg: hsl(0, 0%, 22%);
  --codeb-bg: #263238;
  --thead-bg: hsl(0, 0%, 16%);
  --tbody-bg: hsl(0, 0%, 18%);
  --title-color: hsl(0, 0%, 90%);
  --text-color: hsl(0, 0%, 85%);
  --mark-color: hsl(0, 0%, 30%);
  --quota-color: hsl(0, 0%, 50%);
  --code-color: hsl(0, 0%, 75%);
  --codeb-color: hsl(0, 0%, 50%);
  --footer-color: hsl(0, 0%, 30%);
  --link-color: hsl(195, 100%, 50%);
  --md-char-color: hsl(195, 100%, 60%);
  --meta-content-color: hsl(195, 100%, 60%);
  --link-hover: hsl(195, 100%, 60%);
  --thead-hover: hsl(0, 0%, 24%);
  --tbody-hover: hsl(0, 0%, 24%);
  --window-border: 1px solid hsl(0, 0%, 95%);
  --base-border: 1px solid hsl(195, 100%, 60%);
  --base-borderl: 4px solid hsl(195, 100%, 60%);
  --base-borderb: 1px dashed hsl(195, 100%, 60%);
  --opt-borderb: 1px dashed hsl(215, 100%, 65%);
  --base-shadow: 0px 8px 16px hsla(0, 0%, 0%, 0.2);
  --opt-shadow: 0px 8px 16px 1px hsla(0, 0%, 0%, 0.3);
  --img-shadow: var(--opt-shadow);
  --code-shadow: none;
  --quota-shadow: none;
  --base-margin: 1rem auto;
  --base-padding: 1px 4px;
  --opt-padding: 1rem;
  --lineheight: 1.75rem;
  --mermaid-alt-font-family: var(--base-font) !important;
  --mermaid-font-family: var(--base-font) !important;
  --rawblock-edit-panel-bd: #9b9b9b1f;
}

/*退出源代码模式hover效果*/
.typora-sourceview-on #toggle-sourceview-btn:hover{
	color: var(--item-hover-text-color) !important;
}

#write h3:before,
#write h4:before,
#write h5:before,
#write h6:before {
  font-size: 0.9rem;
  vertical-align: middle;
  margin-right: 0.5rem;
  padding: var(--base-padding);
  border-radius: 5px;
  background: hsl(195, 100%, 50%);
  color: var(--title-color);
}

:root {
  --blur-text-color: #333;
  --active-file-bg-color: hsl(0, 0%, 24%);
  /* 文件列表 当前文件激活 背景色*/
  --active-file-text-color: hsl(195, 100%, 50%);
  --active-file-border-color: hsl(195, 100%, 50%);
  /* 树形结构下文件激活边框色 */
  --side-bar-bg-color: hsl(0, 0%, 20%);
  /*文件 大纲 侧边栏 背景色*/
  --item-hover-bg-color: var(--bg-color);
  /* 打开文文件夹、正文菜单、最近使用 hover 效果 */
  --item-hover-text-color: hsl(195, 100%, 50%);
  --primary-color: hsl(195, 100%, 50%);
  /* color of primary buttons */
  --primary-btn-border-color: hsl(195, 100%, 50%);
  --primary-btn-text-color: hsl(0, 0%, 25%);
  --select-text-bg-color: hsl(195, 100%, 50%);
  --select-text-font-color: hsl(0, 0%, 25%);
  --active-bg: hsl(0, 0%, 20%);
  --window-border: var(--bg-color);
  --control-text-color: var(--title-color);
  --control-text-hover-color: var(--text-color);
}

.megamenu-menu-panel tr:hover {
  background: hsl(0, 0%, 20%);
  color: var(--primary-color) !important;
}

#recent-file-panel tbody tr:nth-child(2n-1) {
  background-color: hsl(0, 0%, 15%);
}

.nav-group-item.active {
  background: var(--side-bar-bg-color) !important;
  color: hsl(195, 100%, 50%);
}

/* focus mode */
.on-focus-mode .md-focus {
  color: var(--link-color);
  background: #333 var(--bg-img);
}

blockquote .md-focus {
  color: var(--link-color)!important;
}

.cm-s-inner {
  background-color: #263238;
  color: #e9eded;
}

.cm-s-inner .CodeMirror-gutters {
  background: #263238;
  color: #537f7e;
  border: none;
}

.cm-s-inner .CodeMirror-guttermarker,
.cm-s-inner .CodeMirror-guttermarker-subtle,
.cm-s-inner .CodeMirror-linenumber {
  color: #537f7e;
}

.cm-s-inner .CodeMirror-cursor {
  border-left: 1px solid #f8f8f0;
}

.cm-s-inner div.CodeMirror-selected {
  background: rgba(255, 255, 255, 0.15);
}

.cm-s-inner.CodeMirror-focused div.CodeMirror-selected {
  background: rgba(255, 255, 255, 0.1);
}

.cm-s-inner .CodeMirror-line::selection,
.cm-s-inner .CodeMirror-line>span::selection,
.cm-s-inner .CodeMirror-line>span>span::selection {
  background: rgba(255, 255, 255, 0.1);
}

.cm-s-inner .CodeMirror-line::-moz-selection,
.cm-s-inner .CodeMirror-line>span::-moz-selection,
.cm-s-inner .CodeMirror-line>span>span::-moz-selection {
  background: rgba(255, 255, 255, 0.1);
}

.cm-s-inner .CodeMirror-activeline-background {
  background: rgba(0, 0, 0, 0);
}

.cm-s-inner .cm-keyword {
  color: #c792ea;
}

.cm-s-inner .cm-operator {
  color: #e9eded;
}

.cm-s-inner .cm-variable-2 {
  color: #80CBC4;
}

.cm-s-inner .cm-variable-3 {
  color: #82B1FF;
}

.cm-s-inner .cm-builtin {
  color: #DECB6B;
}

.cm-s-inner .cm-atom {
  color: #F77669;
}

.cm-s-inner .cm-number {
  color: #F77669;
}

.cm-s-inner .cm-def {
  color: #e9eded;
}

.cm-s-inner .cm-string {
  color: #C3E88D;
}

.cm-s-inner .cm-string-2 {
  color: #80CBC4;
}

.cm-s-inner .cm-comment {
  color: #546E7A;
}

.cm-s-inner .cm-variable {
  color: #82B1FF;
}

.cm-s-inner .cm-tag {
  color: #80CBC4;
}

.cm-s-inner .cm-meta {
  color: #80CBC4;
}

.cm-s-inner .cm-attribute {
  color: #FFCB6B;
}

.cm-s-inner .cm-property {
  color: #80CBAE;
}

.cm-s-inner .cm-qualifier {
  color: #DECB6B;
}

.cm-s-inner .cm-variable-3 {
  color: #DECB6B;
}

.cm-s-inner .cm-tag {
  color: #ff5370;
}

.cm-s-inner .cm-error {
  color: #ffffff;
  background-color: #EC5F67;
}

.cm-s-inner .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}

.cm-s-inner .cm-link,
.cm-s-inner.cm-link {
  color: var(--link-color);
}

/**apply to code fences with plan text**/
.md-fences {
  background-color: #263238;
  color: #e9eded;
  border: none;
}

.md-fences .code-tooltip {
  background-color: #263238;
}



:root {
  --write-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyAgMAAABjUWAiAAAADFBMVEUWGBkYGhsdHyAfISI1t/v6AAAB5ElEQVQozxXQsYoTURSA4f/EeycZsDgDdySDjihk38Hy3GWi2J2BCaziQhaiaB+tt9AFu1kwvYUPsIXNPoB9BAUfwAfwEUzKv/v4odGrroyp9/rUaC6rZ5skv5F8qPsfYYP+yKUMymmAEEeW55oUR4o8jr05KNzJ07yvB7w0KKfLwcQUSjfmMU0PJfPHFoEVU+ohNrcKMEzMQ23FDnVSI2dqtYWI7KlLu6vE4UnyvKc3SJuL7lBbeEEl42ItpGLjzIT8PRJCmkRjVpVpsbJFVN0687okJNZiHAr5Z7MV0BnGIDc+THM1zlbieBc1Fq+tH5BH+OpnbWkj40hSqC8Lw2TvFuF0SUFJCk2IytXbjeqcRAt6NHpnrUkUU4KRzZs8RCK8N/Akn2W04LwxMU/V7XK0bDyN2RxfDyx7I4h5vjZby72V8UnOWumZL3qtYc+8DTE0siSBMXGhywx2dMYPnQHbxdFZ7deiNGxCCtD/QWnbwDoGhRYPDzUdUA3krjpnkvdAgDN4ddLkEQSov9qjd42HaDjI34gEqS9TUueAk+sc4qg5ws407KQYKs8G1jv4xBlqBVk6cb4dISZIwVi1Jzu4+HLk6lyfUxkXvwy+1Q+4WVdHIhwfybZ6CWVhxMEhShOgsP/HOW0MvZJeFwAAAABJRU5ErkJggg==");

  --bg-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyBAMAAADsEZWCAAAAElBMVEUQERMODxESFBYWGBkaHB0eICLm6ozJAAACkUlEQVQ4yyWTUdLbMAiEASfvoOkBkBy/O5keIE0v8E/uf5h+68qZWALELgu2MG9PP9qyvCzTVhrrsPGOCjvTfXQZvtp/W3Gy6LCITqs4q/DZ+KYl76zKzHVYpY2wNY27nqN1sbLGcrLH3/ENH4oWlGctsDu8AO+HzTLlsYdh8MzP1m6YDMz0ACfcimvakBj+mwO/+5Uta5teOD379sxK1fUxmUhv8MU3jUT5gs26PMephFznkLcpQZ6/dPL9C/GWHcCxDN6oZhD5xBm5qoYBPA+PFE/H1tXDWcWl8TW7rS+4dUzAVy0BIrvC4/HcqW2TkG1HO8q9dC23INAg7NA4AFRFkDTM2lfELPyFzi1VddcpX2z0KjHBUDmdLNJ6dDps4ytrX+FPsZwE31wSL+6OWfHOAJ3+Y0Rk/MiKfmWNPg7oVP/U3Ck9FoCkC2gBpALOiqbMNTkOe8P4FWkTD2Y9Q3+5VmV0uLUJBl68U5uAK2Kl6QDXvLxbwweOL2sixW78uU8p0ysfc7cWrF1j6B1sPJ4WgclYSnJN1bzozrhEcFHmRzBkbJWqqdG+EYJXRFmT5jnLXPUNF6WBdoFbTxYsmDXVLU/WA7MExNc93sJS5hIXDeLxzMScHzdhKvEkibr6cQXYPrmtmTA7JcInISrTzRDvShTdka0uVGrsJAAR6tSn1sKziZtfKVjAxPrJsYgZO0bye+vKTZ/DgoAoLGNO6jYHimZYTL/3pLJHawquJukjBpfz8WOGVSVIWx9ywUfS5iENutidRM4NzkAmxgUSQ68xgNOU+ZLalr4TS2V+D2xqukZig+Z9DilR7Nouzwp1cp/3E5q6Rdlf08obKvAM4qZ6pMr+w3PmQALSSBfjyZn5DwrNRVbywBQiAAAAAElFTkSuQmCC") !important;
}