content,
.on-focus-mode content,
#typora-sidebar {
    background-image: url(./fans.svg);
    background-attachment: fixed;
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
}

content,
.on-focus-mode content {
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 50%;
}

#write table tr,
#write table td {
    border: 1px solid hsla(0, 100%, 75%, 0.3);
}

footer.ty-footer {
    margin: 0 5rem;
    bottom: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

#write,
ul.dropdown-menu,
.md-fences *,
footer.ty-footer,
.modal-content {
    background: transparent !important;
}

#write:before,
#write:after,
ul.dropdown-menu:before,
#typora-sidebar:before,
footer.ty-footer:before,
#typora-quick-open:before,
.modal-content:before {
    content: "";
    display: block;
    width: 100%;
    backdrop-filter: blur(15px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -99;
    min-height: 100%;
    border-radius: 5px;
    background-blend-mode: overlay;
}

#write:after,
ul.dropdown-menu:after,
#typora-sidebar:before {
    font-size: 0;
    height: 0;
    background-color: #ffffff80;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
}

::-webkit-scrollbar-thumb {
    background-color: hsla(0, 100%, 75%, 0.3);
}

/**fix**/

.info-panel-tab,
#file-library-search,
#outline-content {
    z-index: 99;
}

#typora-sidebar:before {
    z-index: 1;
}

#typora-sidebar-resizer {
    background: transparent;
    backdrop-filter: blur(55px);
}

input[type=search] {
    background: transparent;
}

.megamenu-menu {
    width: 280px;
}

.megamenu-content {
    padding-left: 280px;
}

.task-list-item input:before {
    background: white;
}

.code-tooltip {
    background: inherit !important;
}


@media (max-width:1300px) {
    content {
        background-size: 100%;
    }
}

@media (min-width:1101px) {
    #write {
        margin-top: 25rem;
    }

    .typora-node #write {
        min-height: 2%;
    }

    content {
        background-size: 40%;
    }
}

@media (max-width:1100px) {
    #write {
        margin-top: 0rem;
    }

    .typora-node #write {
        min-height: 100%;
    }
}