/* 大纲目录自动编号 */

.sidebar-content {

	counter-reset: h1;
}

.outline-h1 {
	counter-increment: h1;
	counter-reset: h2;
}

.outline-h2 {
	counter-increment: h2;
	counter-reset: h3;
}

.outline-h3 {
	counter-increment: h3;
	counter-reset: h4;
}

.outline-h4 {
	counter-increment: h4;
	counter-reset: h5;
}

.outline-h5 {
	counter-increment: h5;
	counter-reset: h6;
}

.outline-h1>.outline-item>.outline-label:before {
	content: "章"counter(h1) " ";
}

.outline-h2>.outline-item>.outline-label:before {
	content: "节"counter(h2) " ";
}

.outline-h3>.outline-item>.outline-label:before {
	content: counter(h3) " ";
}

.outline-h4>.outline-item>.outline-label:before {
	content: counter(h3) "."counter(h4) " ";
}

.outline-h5>.outline-item>.outline-label:before {
	content: counter(h3) "."counter(h4) "."counter(h5) " ";
}

.outline-h6>.outline-item>.outline-label:before {
	counter-increment: h6;
	content: counter(h3) "."counter(h4) "."counter(h5) "."counter(h6) " ";
}